#
# Modbus configuration
#
CONFIG_MB_UART_PORT_NUM=1
CONFIG_MB_UART_BAUD_RATE=115200
CONFIG_MB_UART_RXD=5
CONFIG_MB_UART_TXD=4
CONFIG_MB_UART_RTS=18
CONFIG_MB_COMM_MODE_RTU=y
CONFIG_MB_SLAVE_ADDR=1

CONFIG_MB_COMM_MODE_RTU=y

CONFIG_FMB_TIMER_PORT_ENABLED=y
CONFIG_FMB_TIMER_GROUP=0
CONFIG_FMB_TIMER_INDEX=0
CONFIG_FMB_TIMER_ISR_IN_IRAM=y
